VITE_API_BASE_URL=http://localhost:8080
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=vitalminds
POSTGRES_USER=vital_admin
POSTGRES_PASSWORD=SuperSeguro123

JWT_SECRET=alinsdugfcaisdgcfhasdhigfdfg
JWT_ISSUER=vitalminds
JWT_AUDIENCE=vitalminds-api

WHATSAPP_STUB_ENABLED=true
ASPNETCORE_ENVIRONMENT=Production
