VITE_API_BASE_URL=http://localhost:8080
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=vitalminds
POSTGRES_USER=vital_admin
POSTGRES_PASSWORD=SuperSeguro123

JWT_SECRET=0b5ec309fd9890ca21a46251b87a65032d19596ac152078d534336f017e97ba0 
JWT_ISSUER=vitalminds
JWT_AUDIENCE=vitalminds-api

WHATSAPP_STUB_ENABLED=true
ASPNETCORE_ENVIRONMENT=Production
