.DS_Store
/bin/
/obj/
/out/
/logs/
/.vs/
/.idea/
/.vscode/
/packages/
/node_modules/
/.env
/coverage/
/TestResults/
/src/Web/dist/
/src/Web/.vite/
/src/Web/node_modules/
docker-compose.override.yml
.env.*
!.env.example
.history/
src/Api/bin/
src/Api/obj/
logs/
node_modules/
dist/
